<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-model-heading" jhiTranslate="grammarEditorApp.model.home.createOrEditLabel">Create or edit a Model</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="grammarEditorApp.model.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="grammarEditorApp.model.mailNetworkName" for="field_mailNetworkName">Mail Network Name</label>
                    <input type="text" class="form-control" name="mailNetworkName" id="field_mailNetworkName"
                           formControlName="mailNetworkName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="grammarEditorApp.model.insertTs" for="field_insertTs">Insert Ts</label>
                    <div class="d-flex">
                        <input id="field_insertTs" type="datetime-local" class="form-control" name="insertTs" formControlName="insertTs" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="grammarEditorApp.model.lastUpdateTs" for="field_lastUpdateTs">Last Update Ts</label>
                    <div class="d-flex">
                        <input id="field_lastUpdateTs" type="datetime-local" class="form-control" name="lastUpdateTs" formControlName="lastUpdateTs" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="grammarEditorApp.model.lmTemplate" for="field_lmTemplate">Lm Template</label>
                    <select class="form-control" id="field_lmTemplate" name="lmTemplate" formControlName="lmTemplate">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lmTemplateOption.id === editForm.get('lmTemplate').value?.id ? editForm.get('lmTemplate').value : lmTemplateOption" *ngFor="let lmTemplateOption of lmtemplates; trackBy: trackLmTemplateById">{{lmTemplateOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
