<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compilationLog">
            <h2><span jhiTranslate="grammarEditorApp.compilationLog.detail.title">Compilation Log</span> {{compilationLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="grammarEditorApp.compilationLog.insertTs">Insert Ts</span></dt>
                <dd>
                    <span>{{compilationLog.insertTs}}</span>
                </dd>
                <dt><span jhiTranslate="grammarEditorApp.compilationLog.lastUpdatTs">Last Updat Ts</span></dt>
                <dd>
                    <span>{{compilationLog.lastUpdatTs}}</span>
                </dd>
                <dt><span jhiTranslate="grammarEditorApp.compilationLog.status">Status</span></dt>
                <dd>
                    <span>{{compilationLog.status}}</span>
                </dd>
                <dt><span jhiTranslate="grammarEditorApp.compilationLog.rpkLink">Rpk Link</span></dt>
                <dd>
                    <span>{{compilationLog.rpkLink}}</span>
                </dd>
                <dt><span jhiTranslate="grammarEditorApp.compilationLog.model">Model</span></dt>
                <dd>
                    <div *ngIf="compilationLog.model">
                        <a [routerLink]="['/model', compilationLog.model?.id, 'view']">{{compilationLog.model?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/compilation-log', compilationLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
